/*
CSS Styling

Sets the width and height of the browser pop-up window
You need both the HTML and <body> selectors to set the size
*/
html, body {
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
    width: 350px;
    height: 300px;
}


body {
    width: 350px;
    height: 300px;
	color: #fff;
	font-family: "Proxima Nova", "Open Sans", "American Typewriter", sans-serif;
	padding: 0;
	margin:0;
	font-weight: 100;
    background-color: rgb(92, 92, 92);
    background-image: url(/img/lightpay_bg.svg);
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }


h1 {font: 16px "ArialRoundedMTBold", sans-serif; font-weight: 600;margin: 0; color: #4A4A4A}
h2 {font: 16px "ArialRoundedMTBold", serif; font-weight: 500; margin: 0 0 10px 0; color: #4A4A4A}
p {font: 14px/18px "Proxima Nova", sans-serif; font-weight:100; color: #4A4A4A}

a {
  font-weight:600;
  color: #FBDF9B;
  text-decoration: none;
  }
a:focus,
a:hover {
  font-weight:600;
 /* color:#FBAB7E; */
  color: #50E3C2;
  transition: all .2s;
  }
.bold {
  font-weight: 600;
  }
.card {
    background: #ffffff;
    box-shadow: 0 3px 9px 0 rgba(0,0,0,0.1);
    border-radius: 5px 5px 0 0;
    margin: 0 auto;
    position: relative;
    width: 90%;
    height: auto;
    padding: 15px 15px 25px 15px;
}
.logo {
	margin: 0 auto;
}

.logo:hover {
  opacity: .8;
}
.head {
	display: flex;
	padding: 2em;
}
.lp_par{

}
.lp_form {
	display: flex;
	flex-direction: column;

}
.lp_btn{
	background: #50E3C2;
	box-shadow: 0 3px 12px 0 rgba(0,0,0,0.08);
	font-family: ArialRoundedMTBold;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0;
	padding: 10px;
	border: none;
	border-radius: 5px;
} 
.lp_btn:hover{
	background: #59f5d2;

}
input {
	border: 1px solid #E7E7E7;
	border-radius: 5px;
	background: #FFFFFF;
	font-family: ArialRoundedMTBold;
	font-size: 14px;
	color: #E7E7E7;
	letter-spacing: 0;
	text-align: left;
	padding: 10px;
    margin: 0 0 30px 0;
}
